{
  "all": true,
  "require": [
    "babel-register"
  ],
  "sourceMap": false,
  "instrument": false,
  "reporter": [
    "lcov",
    "text-summary",
    "text",
    "cobertura"
  ],
  "exclude": [
    "lib/browser",
    "test/**/*"
  ],
  "watermarks": {
    "lines": [99, 100],
    "branches": [99, 100],
    "functions": [99, 100],
    "statements": [99, 100]
  }
}